



.main-2{
    display: grid;
    justify-content: center;
    grid-template-columns: 55%;
    grid-template-rows: 10%  auto;
    height: 80vh;
    overflow-y: scroll;
    margin-left: 5vh;
    gap:1vh;
}



.build-panel{
    display: grid;
    grid-template-rows: 30% auto;
    grid-template-columns: 100%;
    height: 100%;
    border-top: 1px solid #f3f0f0;
    border-bottom: 1px solid #f3f0f0;
    border-right: 1px solid #f3f0f0;
    margin-top: 1.5vh;
}






 h2 {
    margin-top: 2vh;
}

.subtitle{
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    color: #3eaaaf !important;
    border-bottom: 2px solid #3eaaaf !important;
}

.dashboard-elements-list{
    display: grid;
    grid-template-rows: repeat(500,auto);
    grid-template-columns: 100%;
    align-items: start;
}

.dashboard-element{
    display: grid;
    grid-template-columns: 5% 5% 25% 25% 20% 25% ;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vh;
    border: 1px solid #f3f0f0;
    cursor: pointer;
    min-height: 8vh;
    max-height: 10vh;
    margin-bottom: 1vh;
}




a{
    color: #9e9e9e;
    text-decoration: none !important;
}

a:hover{
    color:#9e9e9e;
}



.dashboard-element-logo{
    display: grid;
    justify-content: center;
    height: 80%;
}

.dashboard-element-logo-pass{
    border-right: 3px solid #39aa56;
}

.dashboard-element-logo-fail{
    border-right: 3px solid #db4545;
}

.dashboard-element-logo-exception{
    border-right: 3px solid #db8945;
}

.icon{
    width: 5vh;
    height: 2vh;
}

.icon-dashboard-element{
    margin-top: 1vh;
    margin-right: 1vh;
}

.dashboard-element-status{
    display: grid;
    justify-content: center;
    height: 80%;
}

.icon-check-pass{
    margin-top: 0.5vh;
    height: 2.5vh;
    fill:  #39aa56;
}

.icon-check-fail{
    margin-top: 0.5vh;
    height: 2.5vh;
    fill:  #db4545;
}


.icon-check-exception{
    margin-top: 0.5vh;
    height: 2.5vh;
    fill:  #db8945;
}





.pr-id{
    margin-left: 2px;
}

.commit-id{
    margin-left: 2px;
}

.icon-color{
    fill: #9e9e9e;
}


