
.main-2{
    display: grid;
    justify-content: center;
    grid-template-columns: 55%;
    grid-template-rows: 10%  auto;
    height: 75vh;
    overflow-y: scroll;
    margin-left: 5vh;
    gap:1vh;
}



.build-panel{
    display: grid;
    grid-template-rows: 30% auto;
    grid-template-columns: 100%;
    height: 100%;
    border-top: 1px solid #f3f0f0 !important; 
    border-bottom: 1px solid #f3f0f0 !important;
    border-right: 1px solid #f3f0f0 !important;
    margin-top: 1.5vh;
}


h2 {
    margin-top: 2vh;
}

.subtitle{
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    color: #3eaaaf !important;
    border-bottom: 2px solid #3eaaaf !important;
}

.dashboard-elements-list{
    display: grid;
    grid-template-rows: repeat(500,auto);
    grid-template-columns: 100%;
    align-items: start;
}

.dashboard-element{
    display: grid;
    grid-template-columns: 5% 5% 25% 25% 20% 25% ;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vh;
    border: 1px solid #f3f0f0;
    cursor: pointer;
    min-height: 8vh;
    max-height: 10vh;
    margin-bottom: 1vh;
}

@media (max-width: 1450px) {
    
    .main-2{
        grid-template-columns: 90%;
    }

}


@media (max-width: 800px) {
    
  
    .dashboard-element{
        grid-template-columns: 100%;
        grid-template-rows:  repeat(6,auto);
        max-height: 35vh;
        justify-content: flex-start !important;
        padding-left: 3vh;
    }

    .dashboard-element-info{

        justify-content: flex-start !important;
    }

    .dashboard-element-logo{
        justify-content: center !important;
        margin-left: -2vh ;
    }

    .dashboard-element-status{
        justify-content: flex-start  !important;
        height: 100% !important;
    }
}



a{
    color: #9e9e9e;
    text-decoration: none !important;
}

a:hover{
    color:#9e9e9e;
}



.dashboard-element-logo{
    display: grid;
    justify-content: center;
    height: 80%;
}

.dashboard-element-logo-success{
    border-right: 3px solid #39aa56;
}

.dashboard-element-logo-failure{
    border-right: 3px solid #db4545;
}

.dashboard-element-logo-cancelled{
    border-right: 3px solid #db8945;
}

.icon{
    width: 5vh;
    height: 2vh;
}

.icon-dashboard-element{
    margin-top: 1vh;
    margin-right: 1vh;
}

.dashboard-element-status{
    display: grid;
    justify-content: center;
    height: 80%;
}

.icon-check-success{
    margin-top: 0.5vh;
    height: 2.5vh;
    fill:  #39aa56;
}

.top-panel > .icon-check-success{
    margin-left: 2vh;
}


.icon-check-failure{
    margin-top: 0.5vh;
    height: 3vh;
    fill:  #db4545;
}


.icon-check-cancelled{
    margin-top: 0.5vh;
    height: 2.5vh;
    fill:  #db8945;
}


.pr-id{
    margin-left: 2px;
}

.commit-id{
    margin-left: 2px;
}

.icon-color{
    fill: #9e9e9e;
}


