footer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    border-top: 1px solid #dfdcdc;
}

footer > img {
    height: 15vh;
}
