body{
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    margin: 0; padding: 0;
}

header > nav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: #eeeeee;
    height: 8vh;
}



header > nav > h1 {
    color: #9e9e9e;
    font-size: 3vh;
}

header > nav > a {
    color: #9e9e9e;
    font-size: 2vh;
}

