.test-elements-list{
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
}

.test-element-container{
   display: grid;
   grid-template-columns: 100%;
   margin-bottom: 1vh;
}

.test-element{
    display: grid;
    grid-template-columns:  2%  20%  20%  20%  14%  18%  20% ;
    align-items: center;
    padding-top: 1vh;
    border-top: 1px solid #dfdcdc;
    border-bottom: 1px solid #dfdcdc;
    border-right: 1px solid #dfdcdc;
    min-height: 8vh;
}

@media (max-width: 1670px) {
    .main{
        grid-template-columns: 65% !important;
    }  
    .field-title{
        font-size: 0.7rem !important ;
        color: #7a7a7a !important;
    }
}

@media (max-width: 1510px) {
    .main{
        grid-template-columns: 69% !important;
    }
    .field-title{
        font-size: 0.7rem !important ;
        color: #7a7a7a !important;
    }
}


@media (max-width: 1040px) {
    .test-element{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: repeat(7,1fr) ;
        
        border-top: 1px solid #dfdcdc;
        border-bottom: 1px solid #dfdcdc;
        border-right: 1px solid #dfdcdc;
      
    }
    .field-title{
        font-size: 0.7rem !important ;
        color: #7a7a7a !important;
    }
    


}

@media (max-width: 1570px) {
    .test-element{
        grid-template-columns:  2%  20%  25%  20%  12%  17.5%  20%;
    }
    
}

@media (max-width: 1400px) {
 
    .test-element-name{
        grid-column: 1/2 !important;
     }

     .test-element{
        grid-template-rows: repeat(7,auto) ;
        grid-template-columns: 100%;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px;
        gap:10px;
    }

    .test-element-field{
        display: grid !important;
        justify-content: center !important;
        grid-template-rows: 50% 50% !important;
        align-items: flex-start !important;
        text-align: center !important;
    }

    .field-title{
        font-size: 1em !important;
        color: #7a7a7a !important;
    }


    span{
        font-size: 1em;
        color: #9e9e9e !important;
    }
    
}

@media (min-width: 1600px) {
 
    .field-title{
        font-size: 0.7rem !important ;
        color: #7a7a7a !important;
    }

}




.test-element-pass{
    border-left: 1vh solid #39aa56;
}

.test-element-fail{
    border-left: 1vh solid #db4545;
}

.border-pass{
    border-left: 1.2vh solid #39aa56;
}

.border-fail{
    border-left: 1.2vh solid #db4545;
}


.test-element-name{
   grid-column: 2/3;
}

.test-element-log{
    height: 50vh;
    width: 100% !important;
}


.test-case-element{
    display: grid;
    grid-template-columns: 10% 80%;
    border: 1px solid #39aa56;
}





span{
    font-size: 1em;
    color: #9e9e9e !important;
}


.expand-more-btn{
    fill: #9e9e9e;
    cursor: pointer;
}


.pass{
    color: #39aa56 !important;
    fill: #39aa56 !important;
}

.fail{
    color: #db4545 !important;
    fill: #db4545 !important;
}

.top-panel{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: flex-start;
}



.build-cross{
    fill: #db4545;
    transform: scale(1.5);
    margin-left: 20px;
    margin-top: 6px;
}

.build-status-icon{
    margin-left: 10px;
    height: 4vh;
    width: 3vh;
    margin-top: 4px;
}

.top-panel > h3{
    font-size: 2.2vh !important;
    margin-top: 10px;
    margin-left: 1.6vh;
}