.main{
    display: grid;
    justify-content: center;
    grid-template-columns: 70%;
    grid-template-rows: 25% 10%  auto;
    height: 80vh;
    overflow-y: scroll;
    gap:1vh;
}


.test-elements-list{
    display: grid;
    grid-template-rows: repeat(1000,auto);
    grid-template-columns: 100%;
    align-items: start;
}

.test-element-container{
   display: grid;
   grid-template-columns: 100%;
   margin-bottom: 1vh;
}

.test-element{
    display: grid;
    grid-template-columns:  2%  80%  13% 13%  20% ;
    align-items: center;
    padding-top: 1vh;
    border-top: 1px solid #f3f0f0;
    border-bottom: 1px solid #f3f0f0;
    border-right: 1px solid #f3f0f0;
    min-height: 8vh;
}



.bottom-panel{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 4vh;
    padding-top: 1.5vh;
}


.disabled-build{
    cursor: default !important; 
}



@media (min-width: 1600px) {
    
    .field-title{
        font-size: 1em !important;
        color: #7a7a7a !important;
    }
}

@media (max-width: 1600px) {
 
    .test-element{
        grid-template-columns:  2%  72%  20% 20%  20%  !important;
    }
    
    .field-title{
        font-size: 1em !important;
        color: #7a7a7a !important;
    }
}


@media (max-width: 1200px) {
 
    .test-element{
        grid-template-columns:  2%  70%  20% 20%  20%  !important;
    }

    .field-title{
        font-size: 1em !important;
        color: #7a7a7a !important;
    }

}






.test-element-success{
    border-left: 1vh solid #39aa56;
}

.test-element-failure{
    border-left: 1vh solid #db4545;
}

.border-success{
    border-left: 1.2vh solid #39aa56
}

.border-failure{
    border-left: 1.2vh solid #db4545;
}


.test-element-name{
   grid-column: 2/3;
}

.test-element-log{
    width: 100% !important;
    border-left: 1px solid #f3f0f0;
    border-right: 1px solid #f3f0f0;
    padding: 1%;
}

.__json-pretty__{
    max-height: 300px !important;   
    padding-left: 1%; 
    border-left: 1px solid #f3f0f0;
    border-right: 1px solid #f3f0f0;
    border-bottom: 1px solid #f3f0f0;
    
}   


.__json-pretty__::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(138, 136, 136, 0.3);
	background-color: #F5F5F5;
}

.__json-pretty__::-webkit-scrollbar
{
    width: 4px;
    height:  5px;
	background-color: #F5F5F5;
}

.__json-pretty__::-webkit-scrollbar-thumb
{
	background-color: #afaeae;
}


.test-results button{
    padding-top: 0vh;
    padding-left: 2vh;
    box-shadow: none !important;
}


.test-results{
    border-right: 1px solid #f3f0f0;
    border-left: 1px solid #f3f0f0;
    border-bottom: 1px solid #f3f0f0;
}

.sm-btn-container{
    display: grid;
    justify-content: flex-end;
}


th {
    font-weight: normal !important;
}

.sub-log{
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto auto auto;
}


.test-case-element{
    display: grid;
    grid-template-columns: 10% 80%;
    border: 1px solid #39aa56;
}





span{
    font-size: 1em;
    color: #9e9e9e !important;
}


.expand-more-btn{
    fill: #9e9e9e;
    cursor: pointer;
}


.success{
    color: #39aa56 !important;
    fill: #39aa56 !important;
}

.failure{
    color: #db4545 !important;
    fill: #db4545 !important;
}

.cancelled{
    color: #db8945 !important;
    fill: #db8945 !important;
}

.top-panel{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: flex-start;
}



.build-cross{
    fill: #db4545;
    transform: scale(1.5);
    margin-left: 20px;
    margin-top: 6px;
}

.build-status-icon{
    margin-left: 10px;
    height: 4vh;
    width: 3vh;
    margin-top: 4px;
}

.top-panel > h3{
    font-size: 2.2vh !important;
    margin-top: 10px;
    margin-left: 1.6vh;
}

.github-metadata{
    display: grid;
    grid-template-columns: 98% auto;
    border-left: 1px solid #f3f0f0 ;
    padding-left: 2vh;
}

.logo-container{
    display: grid;
    grid-template-columns: 18% auto;
}

.logo{
    display: grid;
    justify-content: center;
    margin-right: 4px;
}

.dashboard-element-info{
    list-style-type: none;
    display: grid;
    justify-content: flex-start;
    gap: 0.7vh;
    color: #9e9e9e;
}


.showLoader{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
}




.loader {
border: 16px solid #f3f3f3; 
border-top: 16px solid #3498db;
border-bottom: 16px solid #3498db; 
border-radius: 50%;
width: 200px;
height: 200px;
animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidePanel{
    display: none;
}

.hideLoader{
    display: none;
}

.expand-link{
    padding-left: 0 !important;
}

.expand-link:hover{
    text-decoration: none !important;
}

.expand-link:focus{
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow:  none !important;
}



.results-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .results-table td, .results-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  

  .results-table tr{
    color:#222 !important;
  }

  .results-table tr.success{background-color: #def8e5;}
  .results-table tr.failure{background-color: #fad0d0;}


 
  .results-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  .results-table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  .results-table th.success{
    background-color: #39aa56;
    color:white !important;
  }

  .results-table th.failure{
    background-color: #db4545;
    color:white !important;
  }


.test-header-title{
    margin-left: 1vh !important;
}

